html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    min-width: 980px;
    overflow: hidden;
}
.logo {
    font-family: Play;
    font-size: 40px;
    letter-spacing: 1px;
    left: 30px;
    line-height: 40px;
    color: #a7821b;
    text-shadow: 0 1px 0 #fff4c1;
    float: left;
    position: absolute;
    top: 33%;
}

div.capthestab {
    padding: 6px;
    margin: 3px;
    height: 50px;
    width: 50px;
    border: 2px solid #d29937;
    border-radius: 3px;
    box-shadow: 0px 1px 1px #fff3bf;
    display: inline;
    vertical-align: middle;
    font-family: 'Pangolin', cursive;
    font-size: 21px;
    font-weight: bold;
}
span.capthes {
    padding: 6px;
    margin: 3px;
    height: 50px;
    width: 50px;
    font-size: 21px;
    color: #bd7000;
    font-weight: bold;
    border: 2px solid #d29937;
    border-radius: 10%;
    box-shadow: 0px 1px 1px #fff3bf;
    vertical-align: middle;
}
span.capthes:hover {
    border: 2px solid #b78328;
    background: #eac552;
    cursor: pointer;
    color: #ad6600;
}
.table_gl {
    border-top: 3px solid rgba(255, 255, 255, 0.25);
    background: #fff5af;
    background: -o-linear-gradient(top, #fff5af 0px, #e0b12b 100%);
    background: -moz-linear-gradient(top, #fff5af 0px, #e0b12b 100%);
    background: -webkit-linear-gradient(top, #fff5af 0px, #e0b12b 100%);
    background: -ms-linear-gradient(top, #fff5af 0px, #e0b12b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5af', endColorstr='#e0b12b',GradientType=0);
    margin: 0;
    padding: 0;
    width: 100%;
    color: #bd7000;
    font-family: 'Pangolin', cursive;
    font-size: 21px;
    letter-spacing: 1px;
    font-weight: bold;
    text-shadow: #ffefa8 1px 1px;
    height: 80px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.timer {
    background: #a77d37;
    box-shadow: 1px 1px 0px #ffec97;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    line-height: 45px;
    width: 45px;
    height: 45px;
    color: #ffffff;
    text-shadow: #332100 1px 1px;
    font-weight: bold;
    font-family: 'Play', sans-serif;
    font-size: 21px;
    margin: 0 5px;
    margin-left: 30px;
    text-align: center;
}
#blockwait {
    display: block;
}

div.blockerror {
    color: #e1162b;
    display: block;

}
div.blocksuccess {
    color: #5B9F00;
    display: block;
}